/* @font-face {
  font-family: 'coolvetica';
  src: url(../src/assets/fonts/coolvetica\ compressed\ hv.otf) url(../src/assets/fonts/coolvetica\ condensed\ rg.otf) url(../src/assets/fonts/coolvetica\ crammed\ rg.otf) url(../src/assets/fonts/coolvetica\ rg.otf);

}

.font-coolvetica {
  font-family: 'coolvetica';
} */


.bg-blue {
  background-image: url(../src/assets/bg-blue.png);
  background-position: top right;
  background-repeat: no-repeat;
  height: 120vh;
  background-blend-mode: screen;
  mix-blend-mode: screen;

}

.bg-top {
  background-blend-mode: screen;
  mix-blend-mode: screen;
}

.bg-img {
  background-image: url(../src/assets/blue.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-hand {
  background-image: url(../src/assets/hand.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-line {
  background-image: url(../src/assets/bg-line.png);
  background-position: top;
  background-repeat: no-repeat;
}

.bg_1 {
  background: linear-gradient(180deg, #C689F9 0%, rgba(217, 217, 217, 0) 172.98%, #F5F5F5 172.98%);
  border-radius: 32px;
}

.bg_2 {
  background: linear-gradient(180deg, #EF09DA -3.94%, #C584F5 111.16%);
  border-radius: 32px;
}

.bg_3 {
  background: linear-gradient(180.48deg, #EF09DA 0.41%, rgba(233, 70, 218, 0.3) 140.64%);
  border-radius: 32px;
}

.img-item {
  position: relative;
  z-index: 1;
}

.sidebar {
  opacity: 0.9;
  z-index: 50;
}

.img-item::after,
.img-item::before {
  content: '';
  position: absolute;
  z-index: -1;
  max-width: 520px;
  width: 100%;
  height: 100%;
  top: 0;
}

.img-item::after {
  background: linear-gradient(191.32deg, #7B2EB0 -118.59%, #C584F5 15.64%, #DACEE1 56.18%, #0D2986 97.62%, #481CBB 131.68%, #142D8E 131.68%);
  border-radius: 37.6528px;
  transform: matrix(0.97, -0.1, 0.25, 0.99, 0, 0);
}

li.slick-active {
  background: #EF09DA !important;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
}

.img-item::before {
  background: linear-gradient(191.32deg, #7B2EB0 -118.59%, #C584F5 15.64%, #DACEE1 56.18%, #0D2986 97.62%, #481CBB 131.68%, #142D8E 131.68%);
  border-radius: 33.8533px;
  transform: matrix(0.89, -0.26, 0.53, 0.95, 0, 0);
}

.roadmap-img {
  border-radius: 5px;
}

.text-outline {
  -webkit-text-stroke: 2px #EF09DA;
  letter-spacing: 0.3em;
}

@media only screen and (max-width: 768px) {

  .bg-blue {
    background-image: url(../src/assets/bg-top.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;

  }

  .img-item {
    max-width: 290px;
    width: 100%;
    display: flex;
    margin: 0 auto;
  }

  .img-item::after,
  .img-item::before {
    content: '';
    position: absolute;
    z-index: -1;
    max-width: 320px;
    width: 100%;
    height: 100%;
    top: 0;
  }

}